opc_tool==0.1.0
te==0.4.0
dataflow==0.0.1
llm_datadist==0.0.1
op_compile_tool==0.1.0
hccl_parser==0.1
show_kernel_debug_data==0.1.0
auto_tune==0.1.0
msobjdump==0.1.0
op_gen==0.1
op_test_frame==0.1
schedule_search==0.0.1
hccl==0.1.0
tokenizers==0.21.1
platformdirs==4.3.8
pycparser==2.22
accelerate==1.6.0
Jinja2==3.1.6
regex==2024.11.6
GitPython==3.1.44
pydub==0.25.1
mpmath==1.3.0
yarl==1.20.0
scikit-learn==1.6.1
async-timeout==5.0.1
transformers==4.51.3
librosa==0.11.0
psutil==7.0.0
pip==25.1
frozenlist==1.6.0
aiosignal==1.3.2
fonttools==4.58.0
termcolor==3.1.0
numba==0.61.2
contourpy==1.3.2
setuptools==78.1.1
rouge-chinese==1.0.3
python-multipart==0.0.20
xxhash==3.5.0
shtab==1.7.2
pillow==11.2.1
cffi==1.17.1
PyYAML==6.0.2
markdown-it-py==3.0.0
sse-starlette==2.3.5
scipy==1.15.3
annotated-types==0.7.0
cycler==0.12.1
docstring_parser==0.16
tiktoken==0.9.0
six==1.17.0
requests==2.32.3
huggingface-hub==0.31.2
docker-pycreds==0.4.0
click==8.2.0
wandb==0.19.11
pooch==1.8.2
nltk==3.9.1
sniffio==1.3.1
sentry-sdk==2.29.1
certifi==2025.4.26
orjson==3.10.18
semantic-version==2.10.0
rich==14.0.0
datasets==2.15.0
ffmpy==0.5.0
shellingham==1.5.4
torch-npu==2.4.0.post2
audioread==3.0.1
pyarrow==20.0.0
sentencepiece==0.2.0
msgpack==1.1.0
safetensors==0.5.3
decorator==5.2.1
wheel==0.45.1
aiohappyeyeballs==2.6.1
soundfile==0.13.1
torch==2.4.0
omegaconf==2.3.0
anyio==4.9.0
peft==0.15.1
kiwisolver==1.4.8
multidict==6.4.3
uvicorn==0.34.2
numpy==1.26.4
setproctitle==1.3.6
packaging==25.0
sympy==1.14.0
tzdata==2025.2
idna==3.10
propcache==0.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
gitdb==4.0.12
fastapi==0.115.12
typing_extensions==4.13.2
pydantic_core==2.27.2
trl==0.9.6
gradio==5.25.0
httpx==0.28.1
multiprocess==0.70.15
attrs==25.3.0
fsspec==2023.10.0
groovy==0.1.2
joblib==1.5.0
protobuf==6.30.2
pydantic==2.10.6
ruff==0.11.9
typer==0.15.3
einops==0.8.1
av==14.3.0
gradio_client==1.8.0
smmap==5.0.2
charset-normalizer==3.4.2
h11==0.16.0
fire==0.7.0
pyparsing==3.2.3
starlette==0.46.2
dill==0.3.7
httpcore==1.0.9
threadpoolctl==3.6.0
jieba==0.42.1
networkx==3.4.2
safehttpx==0.1.6
mdurl==0.1.2
exceptiongroup==1.3.0
websockets==15.0.1
tqdm==4.67.1
aiofiles==24.1.0
tyro==0.8.14
lazy_loader==0.4
pandas==2.2.3
MarkupSafe==3.0.2
aiohttp==3.11.18
urllib3==2.4.0
antlr4-python3-runtime==4.9.3
llvmlite==0.44.0
matplotlib==3.10.3
filelock==3.18.0
Pygments==2.19.1
pyarrow-hotfix==0.7
soxr==0.5.0.post1
tomlkit==0.13.2
llamafactory==0.9.3.dev0
llamafactory==0.9.3.dev0
